# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
*.log
db.sqlite3
migrations/
tests.py

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEA
.idea/

# Data File
data/
*.json
