.confirm-dialog {
  .dialog {
    max-width: 25vw;
    background: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 11px 15px 7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12);

    p {
      margin: 10px;
      word-break: break-all;
    }

    .btn-area {
      display: flex;
      justify-content: flex-end;
    }
  }
}
