.parallel,
.scatters {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 50% auto;

  .scatter-wrapper {
    position: relative;
  }

  button {
    position: absolute;
  }
}

.scatters {
  margin: 20px 0 0 0;
  width: 840px;
  height: 790px;
}
